<nav class="header">
  <!--  Left side title and links -->
  <nav class="navigation">
    <ul>
      <li class="nav-link" routerLinkActive="active" routerLink="/home">
        <a>Home</a>
      </li>
      <li class="nav-link" routerLinkActive="active" routerLink="/favorites">
        <a>Favourites</a>
      </li>
    </ul>
  </nav>

  <!--  Right side link -->
  <div class="menu">
    @if(isLoggedIn$ | async){
    <a
      class="nav-link"
      routerLinkActive="active"
      routerLink="'/login"
      (click)="logOut()"
      >{{(user$ | async)?.username}} - Log out</a
    >
    }@else{
    <a class="nav-link" routerLinkActive="active" routerLink="/login">Log In</a>
    }
  </div>
</nav>
